<div class="page__hero--overlay" style="background-color: {{ page.header.overlay_color | default: '#14342f' }};">
  
  {% if page.particles %}<div id="particles-js"></div>{% endif %}

  <div class="wrapper">
    <h1 id="page-title" class="page__title" itemprop="headline">
      {{ page.title | default: site.title }}
    </h1>

    <div class="page__lead" style="color: #fff !important; display: block !important;">
      {% if page.tagline %}
        {{ page.tagline | markdownify }}
      {% elsif page.excerpt %}
        {{ page.excerpt | markdownify }}
      {% endif %}
    </div>

    {% if page.header.actions %}
      <p>
        {% for action in page.header.actions %}
          <a href="{{ action.url | relative_url }}" class="btn btn--light-outline btn--large">{{ action.label | default: "Learn More" }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </div>

  {% if page.particles %}{% include particles.html %}{% endif %}
</div>